.gwent-slider{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    align-items: center;
}

.card-container{
    position: relative;
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: 30vw;
    justify-content: space-between;
    /* overflow: scroll; */
    align-items: center;
}

.gwent-slider::-webkit-scrollbar {
    display: none;
}

.active-deck{
    display: flex;
}

.arrow:hover{
    scale:1.2;
}
.left-arrow{
    z-index: 100;
    color: white;
    font-size: 45px;
    rotate: 90deg;
}
.right-arrow{
    z-index: 100;
    color: white;
    font-size: 45px;
    rotate: -90deg;
}

