:root{
    --card-shift:5vw;
    --card-size-index:2vw;
    --x01:calc(var(--card-size-index) * -6);
    --y01:calc(var(--card-size-index) * 3.5);
    --x02:calc(var(--card-size-index) * -4);
    --y02:calc(var(--card-size-index) * 1.5);
    --x03:calc(var(--card-size-index) * -1.5);
    --y03:calc(var(--card-size-index) * 0);
    --x04:calc(var(--card-size-index) * 1.5);
    --y04:calc(var(--card-size-index) * 0);
    --x05:calc(var(--card-size-index) * 4);
    --y05:calc(var(--card-size-index) * 1.5);
    --x06:calc(var(--card-size-index) * 6);
    --y06:calc(var(--card-size-index) * 3.5);
    --angle1:305deg;
    --angle2:327deg;
    --angle3:349deg;
    --angle4:11deg;
    --angle5:33deg;
    --angle6:55deg;
}
.gwent-page3{
  width: 100vw;
}
.cards-bg{  
    display: flex;    
    justify-content: center;
    align-items: flex-end;  
    width: 100vw;
    position: relative;
}

.cards-bg>img{
    width: 100vw;
}

.slider-page{
    position: relative;
}

.slider-bg{
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
}
