*{
  font-family: "Gwent";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: overlay;
  overflow-X: hidden;
}
/* 
::-webkit-scrollbar полоса прокрутки.
::-webkit-scrollbar-button кнопки на полосе прокрутки (стрелки вверх и вниз).
::-webkit-scrollbar-thumb перетаскиваемый маркер прокрутки.
::-webkit-scrollbar-track дорожка (индикатор выполнения) полосы прокрутки.
::-webkit-scrollbar-track-piece дорожка (индикатор выполнения) НЕ закрыта ручкой.
::-webkit-scrollbar-corner нижний угол полосы прокрутки, где пересекаются горизонтальная и вертикальная полосы прокрутки.
::-webkit-resizer 
*/

*::-webkit-scrollbar{
  background-color: transparent;
}
::-webkit-scrollbar-button{
  display: none;
}
::-webkit-scrollbar-thumb{
    /* background-image: url('./assets/img/scrollbar.png');
    background-size: cover;
    background-position: center; */
  background: rgba(119, 119, 119, 0.696);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
background: rgba(61, 61, 61, 0.701);

}

:root{
  --index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
  --alpha: calc(1 - (100 - var(--scrollTop)) / 100);
}

.delimiter{
  width: 100vw;
  height: 2px;
  box-shadow: 0px -13px 20px 4px #d5ece4, 3px 5px 20px 11px #ff8b38;
  background: linear-gradient(#d5ece4, #ff8b38);
  z-index: 3;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-icons-outlined {
  font-family: 'Material Icons', sans-serif!important;
  cursor: pointer;
  margin-left: 5px;
  transition: transform .4s, opacity 0.3s;
}

.bg-image{
  position: absolute;
  width:100%;
  z-index: -1;
}

.content{
  width: 100%;
  display: flex;
  position: absolute;
  margin: 0;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.content-title{
  width: 70vw;  
  margin:0; 
  font-family: 'Montserrat-Bold';
  color: white;
  font-size: 5vw;
}

.content-text{
  width: 70vw;
  font-family: 'Montserrat';
  color: white;
  font-size: 2vw;
}

.player{
  display: flex;  
  align-items: center;
}

.getStarted-container{
  width: 100%;
  display: flex;
  justify-content: center;    
  align-items: center;
  gap: 24px;
}

.player>h4{
  font-family: 'Montserrat-Bold';
  font-weight: 800;
  font-size: 1.5vw;
  line-height: 28px;
  color: white;
}

.button-red{
  background: #FC5252;
  color: #FFFFFF;
  padding: 1vw 2vw;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1vw;
}

.pink{
  color: #FFA3A3;
}
